.cr_apply_group {
  padding-top: 3.25em;
}

.header_left,
.header_right {
  font-weight: 700;
  border-bottom: 1px solid #c0c0c0;
}

dl.field_patch_items {
  margin: 30px 0;
}

.cr_apply_group .cr_group_row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 -15px;
}

strong.cr-success-message {
  display: block;
  border-top: 1px solid #66aa00;
  position: relative;
  top: -1px;
  text-align: center;
  color: #66aa00;
  font-weight: normal;
}
strong.cr-success-message.warning {
  border-color: #e09600;
  color: #734c00;
}
strong.cr-success-message.error {
  border-color: #e62600;
  color: #a51b00;
}


.patch-summary-failed textarea.text-summary {
  border: 1px solid #e09600;
}

.patch-value-failed  textarea.text-full,
.patch-value-failed  input.text-full {
  border: 1px solid #e09600;
}

.cr_apply_group .group_left,
.cr_apply_group .group_right {
  -webkit-flex: 1 1 50%; /* Safari 6.1+ */
  -ms-flex: 1 1 50%; /* IE 10 */
  flex: 1 1 50%;
  padding: 0 15px;
}
