{#
/**
 * @file
 * Default theme implementation for a cr apply form.
 *
 * Two column template for the field display and edit form.
 *
 * This template will be used when a patch form specifies 'cr_appy_form'
 * as its #theme callback.
 *
 * Available variables:
 * - form: The cr_appy_form form.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('change_requests/cr_apply_form') }}
{{ form }}
