{#
/**
 * @file
 * Default theme implementation for a cr diff switch.
 *
 * Button set to switch in a diff view between old, new and mixed diff view.
 * *
 * Available variables:
 * - title: The cr_appy_form form.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('change_requests/cr_diff_switch') }}
<div id="cr_switch_body" class="cr-switch">
  <span class="label">{{ title }}</span>
  <button type="button" name="cr_display_old" class="button button--extrasmall cr_btn_switch">{{ 'Old'|t }}</button>
  <button type="button" name="cr_display_cr" class="button button--extrasmall cr_btn_switch">{{ 'Diff'|t }}</button>
  <button type="button" name="cr_display_new" class="button button--extrasmall cr_btn_switch">{{ 'New'|t }}</button>
</div>
