
.cr_field_value_wrapper {
  position: relative;
}

.cr-switch {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cr-switch + dl.field_patch_items {
  margin-top: 0;
}

.cr-switch .label {
  margin-right: .5rem;
}

.cr-old ins {
  display: none;
}

.cr-old del {
  text-decoration: none;
}

.cr-new del {
  display: none;
}

.cr-old button[name=cr_display_old],
.cr-cr button[name=cr_display_cr],
.cr-new button[name=cr_display_new] {
  opacity: .6;
}
