{{ attach_library('change_requests/cr_field_patches') }}
{% if title %}
  <h2>{{ title }}</h2>
{% endif %}
<div class="cr_field_value_wrapper cr-cr">
  {{ switch }}
  <dl class="field_patch_items">
    {% for item in items %}
      {{ item }}
    {% endfor %}
  </dl>
</div>
