.cr-patch-header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 2em -.5rem;
}

.cr-patch-header:before {
  content: '';
  display: block;
  flex: 1 1 100%;
  height: 1px;
  border-top: 1px solid #c0c0c0;
  margin: 0 .5rem;
}

.cr-patch-header--by,
.cr-patch-header--status,
.cr-patch-header--on {
  -webkit-flex: 1 1 40%;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  box-sizing: border-box;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  position: relative;
  font-size: 1.125em;
  line-height: 2em;
  padding: 0 .5rem;
}


.cr-patch-header--status {
  -webkit-flex: 1 1 20%;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  text-align: center;
}
.cr-patch-header--on {
  text-align: right;
}

.cr-patch-header--label {
  font-weight: 700;
}

.cr-log-message {
  margin-bottom: 2em;
}

.cr-log-message--label {
  font-size: 1.125em;
  line-height: 1.5em;
}
.cr-log-message--log-message {
  padding-left: 18px;
  margin-top: .25em;
}
