{{ attach_library('change_requests/cr_view_image') }}
<div class="cr-view-image">
  {% if center %}
    <div class="cr-view-image--center">{{ center }}</div>
  {% endif %}
  {% if left %}
    <div class="cr-view-image--left">{{ left }}</div>
  {% endif %}
  {% if right %}
    <div class="cr-view-image--right">{{ right }}</div>
  {% endif %}
</div>
